.content{
  background-color: #f9fafc;
  width: 100%;
  height: 100vh;
  &__header{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 80px;
    background-color: white;

    &--center {
      height: 80px;
      width : 50%;
      background-color: white;
      margin: 0 auto;
      line-height: 80px;
      &--search {
        height: 80px;
        width: 23%;
        background-color: white;
        border: solid #F0F8FF;
        float: left;
      }

      &--like {
        height: 80px;
        width: 23%;
        background-color: white;
        border: solid #F0F8FF;
        float: left;
      }

      &--post {
        width: 25%;
        height: 80px;
        background-color: white;
        border: solid #F0F8FF;
        float: left;
      }

      &--page {
        width: 25%;
        height: 80px;
        background-color: white;
        border: solid #F0F8FF;
        float: left;
      }

        img {
        height: 500px;
        width: 100%;
        top: 80px;
        right: 565px;
        }
    }
  }
}

